body {
    font-family: 'Arial', sans-serif;
    background-color: #b3e0ff; /* Bleu */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Noir */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

button {
    background-color: #4caf50; /* Vert */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.section {
    padding: 20px;
    text-align: center;
}

.projects-container, .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project, .skill {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(50% - 20px);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .project, .skill {
        width: 100%;
    }
}
